meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
meta(name='format-detection', content='telephone=no')

title #{pagetitle} :: Frontend pack
//
	link(rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png")
	link(rel="manifest" href="assets/site.webmanifest")
	link(rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#ffffff")
	link(rel="shortcut icon" href="assets/favicon.ico")
	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="msapplication-config" content="assets/browserconfig.xml")
	meta(name="theme-color" content="#ffffff")

meta(name="description" content="Description")
meta(property="og:url" content="https://")
meta(property="og:type" content="website")
meta(property="og:title" content=pagetitle)
meta(property="twitter:title" content=pagetitle)
meta(property="og:description" content="description")
meta(property="twitter:description" content="description")
meta(property="og:image" content="assets/share.png")

link(rel="shortcut icon" href="#")
link(rel="apple-touch-icon" href="#")

link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

