/*
Основной контейнер
*/
.content {
    overflow: hidden;
    padding-top: map-get($header-height, sm) + 1rem;

    // @each $key in (md, lg, xl) {
    //     @include media-breakpoint-up($key) {
    //         padding-top: map-get($header-height, $key) + 1rem;
    //     }
    // }
}