extends _includes/layout

block config
    - var pagetitle = 'Plan and limits'
    - var bodyClass = 'dev js-body'

block content
    .container
        .wrapper 
            aside#menu.wrapper__aside 
                .wrapper__nav 
                    nav.nav 
                        .nav__close.close.js-nav-close
                        .nav__block 
                            .nav__title.text-uppercase Personal
                            ul.nav__list 
                                li.nav__item 
                                    a.nav__link(href="#") Profile
                                li.nav__item 
                                    a.nav__link(href="#") Security
                                li.nav__item 
                                    a.nav__link(href="#") Notifications
                        .nav__block 
                            .nav__title._mb17.text-uppercase Tesla s.r.L.
                            ul.nav__list 
                                li.nav__item 
                                    a.nav__link(href="#") Business profile
                                li.nav__item 
                                    a.nav__link(href="#") E-invoicing
                                li.nav__item 
                                    a.nav__link._active(href="#") Plan and limits
                                li.nav__item 
                                    a.nav__link(href="#") Team
            main.wrapper__main
                section.wrapper__section
                    .wrapper__block
                        #pull.wrapper__pull
                            .pull 
                                div 
                                div 
                                div
                        .plan
                            .plan__title-block
                                h1.plan__title Invoicing Start
                                button#changeBtn.plan__change-btn.text-nowrap Change plan
                            .plan__price 
                                .plan__price-text 
                                    span.js-price 6,99 
                                    |  € 
                                    span.plan__price-text._gray /mo
                            .plan__description 
                                .plan__description-text We’ll charge 
                                    span.js-price 6,99 
                                    |  € on Jul  24, 2020
                                .plan__description-link-wrapper 
                                    a.plan__description-link(href="#") Change card *** 5423  or billing info
                            .plan__actions 
                                .plan__btn-wrapper 
                                    button.button Switch to annual plan 
                                .plan__btn-description and save 24,00 € a year
                        .features
                            .features__head 
                                h2.features__title Explore new features
                                picture.features__icon-wrapper 
                                    source(type="image/webp" srcset="assets/img/dizzy.webp")
                                    source(type="image/png" srcset="assets/img/dizzy.png")
                                    img.lazyload.features__icon(src="assets/img/dizzy.png" alt="dizzy" title="dizzy")
                            .features__premium.premium.js-premium
                                .premium__content
                                    .premium__close.close.js-premium-close
                                    .premium__left 
                                        h3.premium__title Invoicing Premium
                                        ul.premium__list 
                                            li.premium__item Unlimited outgoing e-invoices
                                            li.premium__item Unlimited connected banks
                                            li.premium__item 10 users
                                            li.premium__item Expense management
                                    .premium__right
                                        .premium__price 
                                            .premium__price-text €20.99 
                                                    span.premium__price-text._small /mo
                                        .premium__description billed annually or 24.99 € billed monthly
                                        button.premium__btn.button._red Upgrade

                section.wrapper__section
                    .wrapper__block
                        #tabs.tabs
                            .tabs__head
                                ul.tabs__nav
                                    li.tabs__nav-item 
                                        a.tabs__nav-link.js-tabs__trigger._active(href="#limits" data-href="#limits") Limits
                                    li.tabs__nav-item 
                                        a.tabs__nav-link.js-tabs__trigger(href="#invoices" data-href="#invoices") Invoices
                            .tabs__tabs.js-tabs__wrapper
                                #limits.tabs__tab.js-tabs__target
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Team members
                                            .mark__count 
                                                span.mark__count-actual 3 
                                                span.mark__count-top / 6
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="50").js-progressbar
                                        .mark__description Need more members? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Outgoing e-invoices
                                            .mark__count 
                                                span.mark__count-top Unlimited
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="100").js-progressbar
                                        .mark__description Send as many e-invoices as you want
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Connected sources (banks)
                                            .mark__count 
                                                span.mark__count-actual 5 
                                                span.mark__count-top / 5
                                        .mark__progressbar 
                                            .mark__progressbar-line._red(data-width="100").js-progressbar
                                        .mark__description Need more banks to connect? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                #invoices.tabs__tab.js-tabs__target
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Team members
                                            .mark__count 
                                                span.mark__count-actual 2 
                                                span.mark__count-top / 6
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="30").js-progressbar
                                        .mark__description Need more members? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Outgoing e-invoices
                                            .mark__count 
                                                span.mark__count-top Unlimited
                                        .mark__progressbar 
                                            .mark__progressbar-line(data-width="100").js-progressbar
                                        .mark__description Send as many e-invoices as you want
                                    .tabs__item.mark
                                        .mark__head 
                                            .mark__title Connected sources (banks)
                                            .mark__count 
                                                span.mark__count-actual 4 
                                                span.mark__count-top / 6
                                        .mark__progressbar 
                                            .mark__progressbar-line._red(data-width="66").js-progressbar
                                        .mark__description Need more banks to connect? 
                                            a.mark__description-link(href="#") Upgrade your plan
                                    