/* button */
.button {
  display: inline-block;
  padding: 8px 16px;
  height: 32px;
  color: $color-white;
  border-radius: 8px;
  font: $semibold 14px / 1 $font-family;
  background-color: $color-secondary;
  @include transition(background-color);
  @include hover-desktop() {
    background-color: $color-primary;
  }
  &._red {
    background: $color-primary;
    @include hover-desktop() {
      background-color: $color-secondary;
    }
  }
}