/* close */
.close {
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 1;
  @include hover-desktop() {
    &::before,
    &:after {
      background-color: $color-primary;
    }
  }
  &:before,
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 7px;
    background-color: $color-secondary;
    transform: rotate(45deg);
    @include transition(background-color);
  }
  &:after {
    transform: rotate(-45deg);
  }
}