/* features */
.features {
  padding-top: 35px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(34, 43, 85, 0.08);
  &__head {
    display: flex;
    align-items: flex-start;
    margin: 0 -4px;
  }
  &__title {
    color: $color-base;
    font: $bold 20px / 1.2 $font-family-alt;
    margin-bottom: 20px;
    letter-spacing: -0.2px;
    padding: 0 4px;
  }
  &__icon-wrapper {
    padding: 0 4px;
    width: 32px;
    margin-bottom: 20px;
  }
  &__icon {
    width: 100%;
  }
  &__premium {
    margin-bottom: 25px;
  }
}