/* mark */
.mark {
  &__head {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
  }
  &__title {
    padding: 0 10px;
    color: $color-base;
    font: $regular 16px / 1 $font-family;
    margin-bottom: 11px;
  }
  &__count {
    padding: 0 10px;
    margin-bottom: 11px;
    line-height: 1;
    flex: 0 0 auto;
    &-top {
      color: $color-gray;
      font: $regular 14px / 1 $font-family;
    }
    &-actual {
      color: $color-base;
      font: $regular 14px / 1 $font-family;
    }
  }
  &__progressbar {
    position: relative;
    height: 8px;
    border-radius: 4px;
    background: #EBECF0;
    margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
    &-line {
      width: 0;
      max-width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 4px;
      background: $color-secondary;
      @include transition(with);
      animation: progressbar 2s ease;
      &._red {
        background: $color-primary;
      }
    }
  }
  &__description {
    color: $color-gray;
    font: $regular 14px / 1.3 $font-family;
    margin-bottom: 11px;
    &-link {
      color: $color-gray;
    }
  }
}
@keyframes progressbar {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}