/* nav */
.nav {
  background: $color-white;
  box-shadow: 0px 1px 3px rgba(34, 43, 85, 0.03), 0px 8px 12px rgba(52, 53, 70, 0.02);
  padding: 32px 32px 5px;
  height: 100%;
  border-radius: 0 16px 16px 0;
  overflow-x: hidden;
  overflow-y: auto;
  @include media-breakpoint-up(lg) {
    border-radius: 16px;
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &__block {
    margin-bottom: 27px;
  }
  &__title {
    color: $color-gray;
    font: $bold 12px / 1.2 $font-family-alt;
    letter-spacing: 1px;
    margin-bottom: 7px;
    &._mb17 {
      margin-bottom: 17px;
    }
  }
  &__list {
    margin-bottom: 7px;
  }
  &__link {
    position: relative;
    display: inline-block;
    color: $color-base;
    font: $regular 16px / 1 $font-family;
    text-decoration: none;
    padding: 12px 0;
    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      background: $color-primary;
      position: absolute;
      left: -32px;
      top: 0;
      opacity: 0;
      @include transition(opacity);
    }
    &._active {
      font-weight: $bold;
      &:before {
        opacity: 1;
      }
    }
    @include hover-desktop() {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}