/* plan */
.plan {
  padding-bottom: 35px;
  &__title-block {
    margin: 0 -10px;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__title {
    color: $color-base;
    margin: 0 10px 10px;
    font: $bold 30px / 1.2 $font-family-alt;
    letter-spacing: -0.5px;
    @include media-breakpoint-up(md) {
      font-size: 36px;
    };
  }
  &__change-btn {
    margin: 0 10px 10px;
    display: inline-block;
    font: $regular 16px / 1.5 $font-family;
    text-align: right;
    color: $color-secondary;
    @include transition(color);
    @include hover-desktop() {
      color: $color-primary;
    };
    @include media-breakpoint-up(md) {
      margin: 10px;
    };
  }
  &__price {
    margin-bottom: 18px;
    &-text {
      color: $color-base;
      font: $bold 28px / 1.2 $font-family-alt;
      &._gray {
        font-size: 20px;
        color: $color-gray;
      }
    }
  }
  &__description {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px 10px;
    letter-spacing: 0.2px;
    &-text {
      padding: 0 11px;
      font: $regular 14px / 1 $font-family;
      color: $color-gray;
      margin-bottom: 10px;
    }
    &-link-wrapper {
      padding: 0 11px;
      margin-bottom: 10px;
    }
    &-link {
      display: block;
      color: $color-secondary;
      font: $regular 14px / 1 $font-family;
      text-decoration: none;
    }
  }
  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -8px;
  }
  &__btn-wrapper {
    padding: 0 8px;
    margin-bottom: 10px;
  }
  &__btn-description {
    padding: 0 8px;
    color: $color-base;
    font: $regular 14px / 1.4 $font-family;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
  }
}