/* premium */
.premium {
  padding: 24px 20px 12px;
  background: #F5F8FF;
  border-radius: 12px;
  @include media-breakpoint-up(md) {
    padding: 24px 40px 12px;
  };
  &__content {
    margin: 0 -10px;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
    };
  }
  &__close {
    position: absolute;
    top: 0;
    right: 5px;
  }
  &__left {
    padding: 0 10px;
  }
  &__right {
    padding: 30px 10px 0;
    flex: 0 0 auto;
    @include media-breakpoint-up(md) {
      text-align: right;
      max-width: 170px;
    };
  }
  &__title {
    color: $color-secondary;
    font: $bold 24px / 1.2 $font-family-alt;
    padding-right: 20px;
    margin-bottom: 15px;
  }
  &__item {
    position: relative;
    padding-left: 28px;
    color: $color-base;
    font: $regular 14px / 1.5 $font-family;
    margin-bottom: 9px;
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 7px;
      border-left: 2px solid #758EF0;
      border-bottom: 2px solid #758EF0;
      position: absolute;
      left: 5px;
      top: 7px;
      transform: rotate(-45deg);
    }
  }
  &__price {
    margin-bottom: 7px;
    &-text {
      color: $color-base;
      font: $bold 24px / 1.2 $font-family-alt;
      &._small {
        font-size: 16px;
      }
    }
  }
  &__description {
    color: $color-gray;
    font: $regular 12px / 1.3 $font-family;
    margin-bottom: 25px;
  }
  &__btn {
    margin-bottom: 10px;
  }
}