/* pull */
.pull {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;
  > div {
    height: 2px;
    width: 100%;
    background: $color-base;
  }
}