/* tabs */
.tabs {
  &__head {
    padding-top: 15px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22px 20px;
    &-item {
      padding: 0 22px;
      margin-bottom: 20px;
    }
    &-link {
      display: block;
      padding-bottom: 16px;
      color: $color-gray;
      font: $regular 18px / 1 $font-family;
      text-decoration: none;
      @include transition(color);
      @include hover-desktop {
        color: $color-primary;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: $color-primary;
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        @include transition(opacity);
      }
      &._active {
        color: $color-base;
        font-weight: $bold;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &__tab {
    // display: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  &__item {
    padding: 0 22px;
    margin-bottom: 30px;
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    };
  }
}