/* wrapper */
.wrapper {
  display: flex;
  margin: 0 -16px;
  &__aside {
    position: fixed;
    width: 304px;
    left: -100%;
    z-index: 1000;
    top: 0;
    height: 100%;
    @include transition(left);
    @include media-breakpoint-up(lg) {
      position: relative;
      margin: 0 16px;
      flex: 0 0 auto;
      left: 0;
    }
    &._active {
      left: 0;
    }
  }
  &__main {
    min-height: 200px;
    flex: 1 1 auto;
    margin: 0 16px;
  }
  &__nav {
    margin-bottom: 25px;
    height: 100%;
  }
  &__section {
    margin-bottom: 32px;
  }
  &__block {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(34, 43, 85, 0.03), 0px 8px 12px rgba(52, 53, 70, 0.02);
    border-radius: 16px;
    padding: 20px 30px 3px;
    @include media-breakpoint-up(md) {
      padding: 40px 60px 3px;
    };
  }
  &__pull {
    margin-bottom: 20px;
    @include media-breakpoint-up(lg) {
      display: none;
    };
  }
}
