/* Main Colors */
$color-base : #222B55;
$color-white : #fff;
$color-gray : #7B829A;
$color-primary : #FF5762;
$color-secondary : #415DE8;

$color-bg : #F4F5F6;
$color-text : $color-base;
$color-error : $color-primary;
$color-popup-background: $color-white;

$color-overlay : $color-base;
$opacity-overlay: .4;

$link-color : $color-secondary;
$link-hover-color : $color-primary;

$transition-duration: .2s;
$transition-timing-function: ease;

$header-z-index: 1000;
$header-height: (sm: 2rem,
    md: 3rem,
    lg: 4rem,
    xl: 5rem,
);
// $header-height-fixed: ;

/* Fonts */
$font-family : 'Lato', sans-serif;
$font-family-alt : 'Metropolis', sans-serif;
$font-family-icon: "iconfont";
$font-family-fontello: "fontello";
$font-size : 1rem;
$font-weight : normal;
$letter-spacing : normal;
$line-height : 1.2;
/* Font-weight */
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* Screen sizes */
$grid-breakpoints: (sm: 320px,
    md: 768px,
    lg: 1280px,
    // lg: 1120px,
    xl: 1920px);
$container-max-widths: (sm: 100%,
    md: 100%,
    // lg: 1170px,
    lg: 1120px,
    xl: 1120px);
$container-paddings: (sm: 25px,
    md: 50px,
    lg: 0,
    xl: 0);

/* block margins */
$block-margins: (sm: 1rem,
    md: 2rem,
    lg: 3rem,
    xl: 4rem,
);
$block-margins-sm: (sm: .5rem,
    md: 1rem,
    lg: 1.5rem,
    xl: 2rem,
);

/* Grid */
$enable-grid-classes: true;
$grid-columns: 12;
$column-gaps: (sm: 12px,
    md: 24px,
    lg: 36px,
    xl: 48px);
